# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: false
AlignConsecutiveBitFields: false
AlignConsecutiveDeclarations: false
# AlignConsecutiveMacros: Consecutive
SkipMacroDefinitionBody: true
SeparateDefinitionBlocks: Leave

BreakBeforeBraces: Allman   # Allman Linux
AccessModifierOffset: -4
AlwaysBreakBeforeMultilineStrings: false
AllowShortIfStatementsOnASingleLine: false
AlignEscapedNewlines: Left
BinPackArguments: true
BinPackParameters: true
CommentPragmas: '^ IWYU pragma:'
IndentCaseLabels: false
PointerAlignment: Right
SortIncludes: Never
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
