CompileFlags:
  Add: -Wno-unknown-warning-option
  Remove: [
    -m*, -f*, 
    -pi32v2-large-program*,
    -target*,
  ]

Diagnostics:
  Suppress: [ 
    'pp_file_not_found',
    '-Wimplicit-function-declaration',
    '-Wunused-value',
    '-Wincompatible-pointer-types',
    '-Wtentative-definition-incomplete-type',
    'tentative_def_incomplete_type',
    'undeclared_var_use',
    'undeclared_var_use_suggest',
    'expected_expression',
    'typecheck_expression_not_modifiable_lvalue',
    'typecheck_decl_incomplete_type',
    'typecheck_incomplete_tag',
    'sizeof_alignof_incomplete_or_sizeless_type',
    'invalid_token_after_toplevel_declarator',
    'unknown_typename_suggest',
    'unknown_typename',
  ]
