#oh-my-zsh prezto
antigen use oh-my-zsh

antigen bundle robbyrussell/oh-my-zsh plugins/history-substring-search
antigen bundle robbyrussell/oh-my-zsh plugins/colored-man-pages
antigen bundle robbyrussell/oh-my-zsh plugins/git
antigen bundle zsh-users/zsh-completions
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-syntax-highlighting
#antigen bundle zdharma/fast-syntax-highlighting
#antigen bundle clvv/fasd

antigen apply
